Repository NitionVR/career-portal-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate_iac, deploy_shared_infra, deploy_app_infra

Path conditions:
  validate_iac: any of: aws/cloudformation/**/*.yaml
  deploy_shared_infra: any of: aws/cloudformation/shared/*.yaml
  deploy_app_infra: any of: aws/cloudformation/shared/*.yaml, aws/cloudformation/application/*.yaml

ci: add gitleaks security scan stage
  .gitlab-ci.yml
Due: none

fix(ci): change the gitleaks scan image and place security_scan step first in the pipeline
  .gitlab-ci.yml
Due: none

refactor(ci): place security_scan as the first stage
  .gitlab-ci.yml
Due: none

feat(auth): externalize magic link url configuration
  src/main/java/com/etalente/backend/service/impl/AuthenticationServiceImpl.java
  src/main/resources/application.yml
  src/test/java/com/etalente/backend/service/impl/AuthenticationServiceImplTest.java
Due: none

feat(user): implement default role assignment for new users
  src/main/java/com/etalente/backend/model/Role.java
  src/main/java/com/etalente/backend/model/User.java
  src/main/java/com/etalente/backend/service/impl/AuthenticationServiceImpl.java
  src/test/java/com/etalente/backend/service/impl/AuthenticationServiceImplTest.java
Due: none

feat(email): implement production email service with aws ses
  .gitlab-ci.yml
  aws/cloudformation/application/ecs-service.yaml
  aws/cloudformation/shared/iam-policies.yaml
  build.gradle
  src/main/java/com/etalente/backend/service/EmailService.java
  src/main/resources/application.yml
Due: validate_iac, deploy_shared_infra, deploy_app_infra

fix(infra): correct yaml syntax in iam-policies template
  aws/cloudformation/shared/iam-policies.yaml
Due: validate_iac, deploy_shared_infra, deploy_app_infra

fix(ci): separate app service and policy deployment jobs
  .gitlab-ci.yml
Due: none

fix(ci): enforce sequential deployment for app service and policies
  .gitlab-ci.yml
Due: none

refactor(ci): merge app iam policy into ecs service stack
  .gitlab-ci.yml
  aws/cloudformation/application/ecs-service.yaml
  aws/cloudformation/shared/iam-policies.yaml
Due: validate_iac, deploy_shared_infra, deploy_app_infra

fix(ci): unify infrastructure deployment into a single job
  .gitlab-ci.yml
Due: none

ci: add debug step to list cfn exports
  .gitlab-ci.yml
Due: none

fix(ci): update the image for security_scan
  .gitlab-ci.yml
Due: none

fix(infra): fix cloudformation syntax
  aws/cloudformation/application/ecs-service.yaml
Due: validate_iac, deploy_app_infra

fix(infra): apply correct sub and importvalue syntax in ecs-service
  aws/cloudformation/application/ecs-service.yaml
Due: validate_iac, deploy_app_infra

fix(infra): use full fn syntax for imports in ecs-service template
  aws/cloudformation/application/ecs-service.yaml
Due: validate_iac, deploy_app_infra

feat: Add JWT_SECRET variable import
  .gitlab-ci.yml
  aws/cloudformation/application/ecs-service.yaml
Due: validate_iac, deploy_app_infra

refactor(ci): change the order of stages
  .gitlab-ci.yml
  aws/cloudformation/shared/rds.yaml
Due: validate_iac, deploy_shared_infra, deploy_app_infra

feat(app): add production profile and set in ecs
  .gitlab-ci.yml
  aws/cloudformation/application/ecs-service.yaml
  src/main/resources/application-production.properties
Due: validate_iac, deploy_app_infra

docs: Add api documentation
  .gitignore
  ARCHITECTURE.md
Due: none

fix(ci): remove invalid --no-wait flag from cloudformation deploy
  .gitlab-ci.yml
Due: none

fix(security): permit all access to actuator endpoints for health checks
  src/main/java/com/etalente/backend/security/SecurityConfig.java
Due: none

chore: small updates to trigger the pipeline
  README.md
  aws/cloudformation/application/ecs-service.yaml
Due: validate_iac, deploy_app_infra

fix(db): use native hibernate type for postgresql enum mapping
  src/main/java/com/etalente/backend/model/User.java
Due: none

fix(app): add jpa auditing to manage timestamps
  src/main/java/com/etalente/backend/EtalenteBackendApplication.java
  src/main/java/com/etalente/backend/model/User.java
  src/test/java/com/etalente/backend/controller/AuthenticationControllerTest.java
Due: none

feat(auth): add is_new_user claim to magic link token for AUTH-008
  src/main/java/com/etalente/backend/service/impl/AuthenticationServiceImpl.java
  src/test/java/com/etalente/backend/service/impl/AuthenticationServiceImplTest.java
Due: none

feat(profile): implement and test user profile update endpoint
  build.gradle
  src/main/java/com/etalente/backend/controller/ProfileController.java
  src/main/java/com/etalente/backend/model/User.java
  src/main/java/com/etalente/backend/service/ProfileService.java
  src/main/java/com/etalente/backend/service/impl/ProfileServiceImpl.java
  src/main/resources/db/migration/V2__Add_profile_fields_to_users.sql
  src/test/java/com/etalente/backend/controller/ProfileControllerTest.java
Due: none

feat(job-post): add job post domain model and repository
  src/main/java/com/etalente/backend/model/JobPost.java
  src/main/java/com/etalente/backend/model/JobPostStatus.java
  src/main/java/com/etalente/backend/repository/JobPostRepository.java
Due: none

feat(db): add flyway migration for job_posts table
  src/main/resources/db/migration/V3__Create_job_posts_table.sql
Due: none

refactor(db): simplify initial schema migration
  src/main/resources/db/migration/V1__Initial_schema.sql
Due: none

feat(job-post): add controller for job post creation
  src/main/java/com/etalente/backend/controller/JobPostController.java
Due: none

test(job-post): add tests for JobPostController
  src/test/java/com/etalente/backend/controller/JobPostControllerTest.java
Due: none

build: add dependencies for json and hibernate types
  build.gradle
Due: none

docs(job-post): add job post json schema
  .gitignore
  job_schema.json
Due: none

build(deps): add spring boot validation starter
  build.gradle
Due: none

chore: update .gitignore to track .env file
  .gitignore
Due: none

refactor(config): migrate from .properties to .yml configuration
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/main/resources/application.yml
Due: none

refactor(test): introduce BaseIntegrationTest for shared test setup
  src/test/java/com/etalente/backend/BaseIntegrationTest.java
  src/test/java/com/etalente/backend/config/TestAwsConfig.java
  src/test/java/com/etalente/backend/controller/ProfileControllerTest.java
  src/test/resources/application-test.properties
  src/test/resources/application-test.yml
Due: none

feat(security): enable method security and add roles to UserDetails
  src/main/java/com/etalente/backend/security/SecurityConfig.java
  src/main/java/com/etalente/backend/security/UserDetailsServiceImpl.java
Due: none

refactor(config): remove legacy .properties files
  src/main/resources/application-dev.properties
  src/main/resources/application-local.properties
  src/main/resources/application-prod.properties
  src/main/resources/application-production.properties
  src/main/resources/application.properties
Due: none
